<div class="container-fluid">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Measure</th>
            <th>Type</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="measure in measures">
            <td>{{measure.name}}</td>
            <td>{{measure.type}}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Sync</button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.viewTimeSeries(measure.name)">View</button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.deleteSelected(measure.name)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>