<div class="row">
    <div class="col-lg-2">
        <form id="addWorkflowForm" action="#">
            <div class="input-group">
                <input type="text" ng-model="workflow.name" class="form-control">
                <div class="input-group-btn">
                    <input type="button" value="Add" ng-click="$ctrl.addWorkflow(workflow)" class="btn btn-default">
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>...</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="workflow in workflows">
        <td>{{workflow.name}}</td>
        <td>{{workflow.desc}}</td>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="$ctrl.loadWorkflow(workflow.name)">Load</button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.deleteWorkflow(workflow.name)">Delete</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>